[Desktop Entry]
Name=Certux Software Installer
Comment=Securely install legacy Debian packages and AppImages
Exec=/usr/bin/certux-software %f
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;application/x-appimage;
